---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Luke Shay | Not Found">
  <main>
    <div class="flex flex-col items-center">
      <h1 class="pb-6 text-4xl font-bold">404 Page not found</h1>
      <h2 class="text-xl">The page your are looking for does not exist.</h2>
    </div>
  </main>
</Layout>
