---
import Input from "@components/form/Input.astro";
import Textarea from "@components/form/Textarea.astro";
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Luke Shay | Contact">
	<main>
		<section title="Information" class="mb-12 dark:text-slate-100">
			<Hero title="Contact" subtitle="Enter your information and I will get back to you." />
		</section>
		<form class="space-y-4" name="contact" method="post" action="/success">
			<input type="hidden" name="form-name" value="contact" />
			<p class="hidden">
				<label>
					Don't fill this out if you're human: <input name="bot-field" />
				</label>
			</p>
			<Input label="Name" name="full-name" required type="text" />
			<Input label="Email" name="email" required type="email" placeholder="email@placeholder.com" />
			<Input
				label="Linkedin"
				name="linkedin"
				required
				type="url"
				placeholder="https://www.linkedin.com/in/luke-shay/"
			/>
			<Textarea label="Reason" name="reason" required type="textarea" rows={4} />
			<div data-netlify-recaptcha="true"></div>
			<button
				type="submit"
				class="block rounded-lg shadow-lg border border-cyan-600 dark:border-cyan-400 dark:shadow-slate-900 dark:bg-slate-900 shadow-slate-800/5 text-cyan-600 dark:text-cyan-400 sm:text-sm outline-none py-3 px-4 hover:bg-slate-100 dark:hover:bg-slate-800"
			>
				Submit
			</button>
		</form>
	</main>
</Layout>
