---
import Layout from "@layouts/Layout.astro";
import List from "@components/List.astro";
import ListItem from "@components/ListItem.astro";
import Home from "@components/icons/Home.astro";
import AcademicCap from "@components/icons/AcademicCap.astro";
import Cake from "@components/icons/Cake.astro";
import Section from "@components/Section.astro";
import SectionHeader from "@components/SectionHeader.astro";
import Information from "@components/Information.astro";
import { getPinnedRepositories } from "@server/repositories/github-repository";

const projects = await getPinnedRepositories();
---

<Layout title="Luke Shay">
	<main>
		<Information />
		<Section title="Projects">
			<SectionHeader>My Projects</SectionHeader>
			<List>
				{
					projects.map(({ description, nameWithOwner }) => (
						<ListItem
							title={nameWithOwner}
							subtitle={description}
							href={`https://github.com/${nameWithOwner}`}
						/>
					))
				}
			</List>
		</Section>
		<Section title="Life events" noBorder>
			<SectionHeader>My Life Events</SectionHeader>
			<List>
				<ListItem
					title="Started a new job at Advantage Solutions"
					subtitle="Senior Software Engineer doing backend development"
					date="Feb 2024"
					src="/images/logos/advantage-solutions.svg"
					alt="Advantage Solutions"
				/>
				<ListItem
					title="Started a new job at Amazon Web Services"
					subtitle="Software Development Engineer doing fullstack development"
					date="Aug 2022"
					src="/images/logos/aws-icon.svg"
					alt="Amazon Web Services"
				/>
				<ListItem
					title="Bought our first house"
					subtitle="My wife and I bought our first house"
					date="Aug 2022"
				>
					<Home />
				</ListItem>
				<ListItem
					title="Got married"
					subtitle="My fianceé and I got married in downtown Des Moines"
					date="Aug 2022"
				>
					<Cake />
				</ListItem>
				<ListItem
					title="Started a new job at Hy-Vee"
					subtitle="Software Engineer II doing fullstack development on Aisles Online"
					date="Dec 2021"
					src="/images/logos/hy-vee-icon.svg"
					alt="Hy-Vee"
				/>
				<ListItem
					title="Started full-time at Rain and Hail"
					subtitle="Programmer working on building web tools for agents, agencies, and customers"
					date="May 2021"
					src="/images/logos/rain-and-hail-icon.ico"
					alt="Rain and Hail Insurance"
				/>
				<ListItem
					title="Graduated from Iowa State University"
					subtitle="Graduated from Iowa State University with a B.S. in Software Engineering"
					date="May 2021"
				>
					<AcademicCap />
				</ListItem>
				<ListItem
					title="Got engaged"
					subtitle="Asked my girlfriend to marry me at the ISU Campanile"
					date="Apr 2021"
				>
					<Cake />
				</ListItem>
				<ListItem
					title="Started an internship at Rain and Hail"
					subtitle="Programmer working on building web tools for agents, agencies, and customers"
					date="Nov 2020"
					src="/images/logos/rain-and-hail-icon.ico"
					alt="Rain and Hail Insurance"
				/>
				<ListItem
					title="Started an internship at Source Allies"
					subtitle="Apprentice Software Engineer working on building a payment platform"
					date="May 2020"
					src="/images/logos/source-allies-icon.webp"
					alt="Source Allies"
				/>
				<ListItem
					title="Started an internship at Vertex Software"
					subtitle="Quality Assurance Intern working on testing and releasing a 3D CAD rendering platform"
					date="Oct 2019"
					src="/images/logos/vertex-software-icon.webp"
					alt="Vertex Software"
				/>
				<ListItem
					title="Started an internship at Maverick Software Consulting"
					subtitle="Automation Engineer Intern working on creating and maintaining regression tests"
					date="Apr 2019"
					src="/images/logos/maverick-software-consulting-icon.webp"
					alt="Maverick Software Consulting"
				/>
				<ListItem
					title="Started college at Iowa State University"
					subtitle="Started college pursuing a degree in Engineering"
					date="Aug 2017"
					src="/images/logos/iowa-state-icon.svg"
					alt="Iowa State University"
				/>
			</List>
		</Section>
	</main>
</Layout>
