---
import Layout from "@layouts/Layout.astro"
import List from "@components/List.astro"
import ListItem from "@components/ListItem.astro"
import Hero from "@components/Hero.astro"
import { getPinnedRepositories } from "@server/repositories/github-repository.js"

const projects = await getPinnedRepositories()
---

<Layout title="Luke Shay | Projects">
	<main>
		<section title="Information" class="mb-12 dark:text-slate-100">
			<Hero
				title="My Projects"
				subtitle="A list of my pinned projects on GitHub."
				description="Click on the projects to open them in GitHub."
			/>
		</section>
		<section title="Projects">
			<List>
				{
					projects.map(({ description, nameWithOwner }) => (
						<ListItem
							title={nameWithOwner}
							subtitle={description}
							href={`https://github.com/${nameWithOwner}`}
						/>
					))
				}
			</List>
		</section>
	</main>
</Layout>
