---
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Luke Shay | Success">
	<main>
		<section title="Information" class="mb-12 dark:text-slate-100">
			<Hero title="Succes" subtitle="Your submission has been saved. Thank you for your submission.">
				<a slot="description" href="/">Go to home page.</a>
			</Hero>
		</section>
	</main>
</Layout>
