---
import { clsx } from "@utils/cn"

export interface Props {
	href: string
}

const { href } = Astro.props

const className = clsx(
	"px-3 py-2 hover:text-sky-500 block",
	(Astro.url.href.startsWith(href) || Astro.url.pathname === href) &&
		"text-sky-500",
)
---

<li>
	<a class={className} href={href}>
		<slot />
	</a>
</li>
