---
import NavbarLink from "./NavbarLink.astro"
---

<nav role="navigation" class="pointer-events-auto">
	<ul class="flex dark:text-slate-300 text-slate-800">
		<NavbarLink href="/">Home</NavbarLink>
		<NavbarLink href="/contact">Contact</NavbarLink>
		<slot />
	</ul>
</nav>
