---
export interface Props {
	title?: string
	class?: string
	noBorder?: boolean
}
---

<section
	title={Astro.props.title}
	class:list={{
		"border-none": Astro.props.noBorder,
		[`${Astro.props.class} text-slate-800 dark:text-slate-100 border-b-2 border-b-2 border-slate-500 dark:border-slate-400 py-12 px-4 sm:px-8 md:px-12`]: true,
	}}
>
	<slot />
</section>
