---
import Moon from "./icons/Moon.astro"
import Sun from "./icons/Sun.astro"

export interface Props {
	class?: string
}

const { class: className = "" } = Astro.props
---

<button
	class={`themeToggle dark:text-slate-300 font-medium text-sm text-slate-800 px-3 py-1.5 hover:text-sky-400 ${className}`}
	type="button"
>
	<Moon class="mx-auto dark:block hidden hover:text-sky-500" />
	<Sun class="mx-auto dark:hidden block hover:text-sky-500" />
	<span class="sr-only">Toggle dark mode</span>
</button>

<script>
	const buttons = document.getElementsByClassName("themeToggle")

	;[...buttons].map((button) => {
		button.addEventListener("click", () => {
			document.body.classList.toggle("dark")

			if (document.body.classList.contains("dark")) {
				localStorage.setItem("theme", "dark")
			} else {
				localStorage.setItem("theme", "light")
			}
		})
	})
</script>
