---
import ibmPlexMonoLatin100Normal from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-100-normal.woff2";
import ibmPlexMonoLatin200Normal from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-200-normal.woff2";
import ibmPlexMonoLatin300Normal from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-300-normal.woff2";
import ibmPlexMonoLatin400Normal from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff2";
import ibmPlexMonoLatin500Normal from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-500-normal.woff2";
import ibmPlexMonoLatin600Normal from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-600-normal.woff2";
import ibmPlexMonoLatin700Normal from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-700-normal.woff2";

import ibmPlexMonoLatin100Italic from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-100-italic.woff2";
import ibmPlexMonoLatin200Italic from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-200-italic.woff2";
import ibmPlexMonoLatin300Italic from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-300-italic.woff2";
import ibmPlexMonoLatin400Italic from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-italic.woff2";
import ibmPlexMonoLatin500Italic from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-500-italic.woff2";
import ibmPlexMonoLatin600Italic from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-600-italic.woff2";
import ibmPlexMonoLatin700Italic from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-700-italic.woff2";

import "@fontsource/ibm-plex-mono/index.css";

import Navbar from "@components/Navbar.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import { setCacheControl } from "@server/utils/response-util.js";

export interface Props {
	title: string;
}

const { title } = Astro.props;

setCacheControl(Astro, {
	maxAge: 604800,
	mustRevalidate: true,
	proxyRevalidate: true,
	public: true,
	sMaxAge: 604800,
	staleIfError: 86400,
	staleWhileRevalidate: 86400,
});

const fonts = [
	ibmPlexMonoLatin100Normal,
	ibmPlexMonoLatin200Normal,
	ibmPlexMonoLatin300Normal,
	ibmPlexMonoLatin400Normal,
	ibmPlexMonoLatin500Normal,
	ibmPlexMonoLatin600Normal,
	ibmPlexMonoLatin700Normal,

	ibmPlexMonoLatin100Italic,
	ibmPlexMonoLatin200Italic,
	ibmPlexMonoLatin300Italic,
	ibmPlexMonoLatin400Italic,
	ibmPlexMonoLatin500Italic,
	ibmPlexMonoLatin600Italic,
	ibmPlexMonoLatin700Italic,
];
---

<!doctype html>
<html lang="en">
	<head>
		{
			fonts.map((font) => (
				<link
					rel="preload"
					as="font"
					crossorigin="anonymous"
					href={font}
					type="font/woff2"
				/>
			))
		}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="twitter:title" content="Luke Shay" />
		<meta
			name="twitter:description"
			content="Software Development Engineer at Amazon Web Services that enjoys building cutting-edge web apps with new technologies."
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="Luke Shay" />
		<meta property="og:title" content="Luke Shay" />
		<meta
			property="og:description"
			content="Software Development Engineer at Amazon Web Services that enjoys building cutting-edge web apps with new technologies."
		/>
		<meta
			property="og:image"
			content="https://www.gravatar.com/avatar/c57099d7997c3af5a04728e920d8e243.png?s=2048"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.lukeshay.com/" />
		<meta name="robots" content="index, follow" />
		<meta
			name="keywords"
			content="Luke Shay, Software, Software Engineer, Development, JavaScript, TypeScript, Deno, Bun, AWS, Amazon Web Services, GCP, Google Cloud Platform"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-white dark:bg-slate-900 py-8 px-2 min-h-screen">
			<div
				class="max-w-4xl w-full mx-auto border-2 border-slate-500 dark:border-slate-400"
			>
				<div
					class="border-b-2 border-slate-500 dark:border-slate-400 py-4 items-center w-full px-2 sm:px-6 md:px-10"
				>
					<Navbar>
						<ThemeToggle />
					</Navbar>
				</div>
				<div class="w-full">
					<slot />
				</div>
			</div>
		</div>
	</body>
</html>

<script>
	if (localStorage.getItem("theme") === "dark") {
		document.body.classList.add("dark");
	} else {
		document.body.classList.add("remove");
	}
</script>
